<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.onlinestore.repository.BasketRepository">

    <insert id="create" parameterType="com.solvd.onlinestore.domain.Basket" useGeneratedKeys="true"
            keyProperty="basket.id">
        insert into baskets(product_id, user_id)
        values(#{productId}, #{userId})
    </insert>

    <resultMap id="BasketResultMap" type="com.solvd.onlinestore.domain.Basket" autoMapping="false">
        <id property="id" column="basket_id"/>
        <association property="user" resultMap="com.solvd.onlinestore.repository.UserRepository.UserResultMap"/>
        <association property="product" resultMap="com.solvd.onlinestore.repository.ProductRepository.ProductResultMap"/>
    </resultMap>

    <sql id="selectFields">
        select b.id as basket_id,
               u.id as user_id,
               u.email as email,
               u.name as name,
               p.id as product_id,
               p.category as category,
               p.model as model,
               p.cost as cost
        from Baskets b
               left join Products p on b.product_id = p.id
               left join Users u on b.user_id = u.id
    </sql>

    <sql id="userIdCondition">
        where b.user_id = #{userId}
    </sql>

    <sql id="idCondition">
        where b.id = #{id}
    </sql>

    <select id="findById" resultMap="BasketResultMap">
        <include refid="selectFields"/>
        <include refid="idCondition"/>
    </select>

    <select id="findAllByUserId" resultMap="BasketResultMap">
        <include refid="selectFields"/>
        <include refid="userIdCondition"/>
    </select>

    <delete id="delete">
        delete from Baskets b
        <include refid="idCondition"/>
    </delete>

    <delete id="deleteAllByUserId">
        delete from Baskets b
        <include refid="userIdCondition"/>
    </delete>

</mapper>