<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.onlinestore.repository.ProductRepository">

    <insert id='create' parameterType='com.solvd.onlinestore.domain.product.Product' useGeneratedKeys='true' keyProperty='id'>
        insert into products(category, article, model, amount, description, cost)
        values(#{category}, #{article}, #{model}, #{amount}, #{description}, #{cost})
    </insert>

    <resultMap type='com.solvd.onlinestore.domain.product.Product' id='ProductResultMap' autoMapping="false">
        <id property='id' column='product_id'/>
        <result property='category' column='category'/>
        <result property='article' column='article'/>
        <result property='description' column='description'/>
        <result property='model' column='model'/>
        <result property='cost' column='cost'/>
        <result property='amount' column='amount'/>
    </resultMap>

    <sql id="selectFields">
        select p.id, p.category, p.article, p.description, p.model, p.cost, p.amount
        from Products p
    </sql>

    <sql id="idCondition">
        where p.id = #{id}
    </sql>

    <select id='findAllByCategory' resultMap='ProductResultMap'>
        <include refid="selectFields"/>
        where p.category = #{category}
    </select>

    <select id='findAllByCategoryOrdered' resultMap='ProductResultMap'>
        <include refid="selectFields"/>
        where p.category = #{category}
        order by p.cost #{ordering}
    </select>

    <select id='findByModelOrArticle' resultMap='ProductResultMap'>
        <include refid="selectFields"/>
        where p.model = #{parameter} or p.article = #{parameter}
    </select>

    <select id='findById' resultMap='ProductResultMap'>
        <include refid="selectFields"/>
        <include refid="idCondition"/>
    </select>

    <select id='findAll' resultMap='ProductResultMap'>
        <include refid="selectFields"/>
    </select>

    <select id="isExistByArticleOrModel" resultType="boolean">
        select exists(select 1 from Products p where p.article = #{article} or p.model = #{model})
    </select>

    <update id="updateAmount">
        update Products p set p.amount = #{product.amount}
        <include refid="idCondition"/>
    </update>

    <delete id="delete">
        delete from Products p
        <include refid="idCondition"/>
    </delete>

</mapper>