<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.onlinestore.repository.WarehouseRepository">

    <insert id='create' useGeneratedKeys='true' keyProperty='warehouse.id'>
        insert into warehouses(product_id, amount)
        values(#{product.id}, #{warehouse.amount})
    </insert>

</mapper>